/* ==UserStyle==
@name            Alsacréations Forum responsive
@version         1.0.1
@description     Le forum d'Alsacréations prend maintenant toute la largeur de la page.
@author          BreatFR (https://breat.fr)
@namespace       https://gitlab.com/breatfr
@homepageURL     https://gitlab.com/breatfr/alsacreations
@updateURL       https://gitlab.com/breatfr/alsacreations/-/raw/main/css/alsacreations-forum-responsive.user.css
@supportURL      https://discord.gg/Q8KSHzdBxs
@license         AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
==/UserStyle== */

/* === Credits ===
Website         https://breat.fr
facebook        https://www.facebook.com/breatfroff
mastodon        https://mastodon.social/@breat_fr
telegram        https://t.me/breatfr
vk              https://vk.com/breatfroff
X (twitter)     https://x.com/breatfroff
=== Credits === */

@-moz-document domain("forum.alsacreations.com") {
    main,
    #page,
    #message {
        max-width: 100% !important;
    }

    .smilies .smiley {
        width: 24px;
    }
}
